body {
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding-left: 0;
}

.nav-link {
  color: #ddd !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: cyan !important;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu a:hover {
  background-color: cyan;
  color: black !important;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 10px white;
  height: 600px;
}

section.img_display img {
  height: 1000px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.btn:focus,
.btn:active:focus,
.btn.show:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus,
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.play {
  position: absolute;
  bottom: 0%;
  left: 86%;
}

.info {
  position: absolute;
  bottom: 0%;
  left: 100%;
}

.update {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #00000099;
  color: white;
  padding: 6px 14px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.update:hover {
  background: #000000cc;
  transform: scale(1.02);
  cursor: pointer;
}


.play button {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffffcc;
  color: #000000;
  border: none;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.play button:hover {
  background-color: #fff;
  transform: scale(1.02);
}

.info button {
  font-size: 20px;
  font-weight: 600;
  background-color: #4c4c4c99;
  color: #ffffff;
  border: none;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.info button:hover {
  background-color: #00000099;
  transform: scale(1.02);
}

.play i {
  padding: 0 8px;
  font-size: 25px;

}

.info i {
  padding: 0 8px;
  font-size: 22px;
}

.movie-card {
  max-width: 300px;
  width: 100%;
  height: 160px;
  border-radius: 4px;
  margin: auto;
  background-color: black;
  overflow: hidden;
}

.carousel-inner,
.carousel-item,
.mid_section .container-fluid,
.row {
  background-color: black !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0 !important;
  margin-left: 10px;
}



.movie-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
}

.movie-card-img-top {
  max-width: 300px;
  height: 100%;
  width: 100%;
  background-color: black;
  object-fit: cover;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
}

p {
  line-height: 1;
}



h2 {
  color: #ddd;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 24px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);

}


.carousel-control-prev,
.carousel-control-next {
  top: 10px;
  width: 5%;
}

.carousel-control-prev {
  left: 0px;
}

.carousel-control-next {
  right: 0px;
}



footer {
  background-color: #141414;
  color: #ccc;
  margin-top: 200px;
}

.store-buttons img:hover {
  transform: scale(1.05);
}

.social-icons i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: cyan;
}

@media (min-width: 412px) and (max-width: 800px) {
  section.img_display img {
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }

  .movie-card-img-top {
    height: 100%;
  }

  .play {
    top: 60%;
    left: 80%;
  }

  .info {
    top: 60%;
    left: 95%;
  }

  .play button {
    font-size: 10px;
    width: 70px;
    padding: 9px 7px;
  }

  .info button {
    font-size: 10px;
    width: 70px;
    padding: 9px 7px;
  }

  .play i {
    padding: 0 5px;
    font-size: 18px;

  }

  .info i {
    padding: 0 5px;
    font-size: 16px;
  }

  .update {
    font-size: 14px;
    padding: 5px 10px;
    top: 10px;
    left: 10px;
  }

  .carousel-control-prev {
    bottom: 40px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 40px;
    right: 5px;
  }

  h2 {
    margin-top: 40px;
    padding-left: 30px;
    font-size: 24px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 412px) {
  .movie-card-img-top {
    height: 110px;
  }

  section.img_display img {
    height: 250px;
    object-fit: cover;
    object-position: bottom;
  }

  .play {
    top: 60%;
    left: 72%;
  }

  .info {
    top: 60%;
    left: 95%;
  }

  .play button {
    font-size: 10px;
    width: 60px;
    padding: 8px 5px;
  }


  .info button {
    font-size: 10px;
    width: 60px;
    padding: 8px 5px;
  }

  .play i {
    padding: 0 3px;
    font-size: 14px;

  }

  .info i {
    padding: 0 3px;
    font-size: 13px;
  }

  .update {
    font-size: 10px;
    padding: 4px 8px;
    top: 10px;
    left: 10px;
  }

  .carousel-control-prev {
    bottom: 30px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 30px;
    right: 5px;
  }

  h2 {
    margin-top: 30px;
    padding-left: 10px;
  }

  footer {
    font-size: 11px;
  }


}
