body {
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.modal-open {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  backdrop-filter: blur(2px);
}

.confirm-box {
  background: #141414;
  color: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  height: auto;
  width: 325px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s ease;
}

.confirm-box p {
  font-size: 18px;
}

.confirm-box button {
  min-width: 80px;
}

.yes-btn {
  background-color: cyan;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
}

.no-btn {
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
}

.yes-btn:hover {
  background-color: rgba(0, 255, 255, 0.8);
}

.no-btn:hover {
  background-color: rgba(204, 204, 204, 0.8);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heading {
  padding-left: 0;
}

.navbar.fixed-top {
  background-color: #141414ee !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.navbar-dark {
  background-color: black;
}

.nav-link {
  color: #ddd !important;
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  border-bottom: 2px solid cyan;
}

.d-flex.align-items-center.position-relative input {
  background-color: black;
  color: white;
}

.theme-toggle-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.3s ease-out 0.1s all;
}

.dropdown-menu {
  padding: 0px;
  border-radius: 2px;
}

.dropdown-menu a {
  background-color: #000;
  color: white;
}

.dropdown-menu a:hover {
  background-color: cyan;
  color: black !important;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 10px white;
  height: 650px;
}

.btn-close {
  filter: invert(1);
}

.btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn i {
  color: #ccc;
}

.btn i:hover {
  color: cyan;
  cursor: pointer;
}

.img_display .carousel-item {
  position: relative;
  width: 100%;
  height: auto;
}

.img_display .carousel-item img {
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.btn:focus,
.btn:active:focus,
.btn.show:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus,
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.modal-title {
  color: cyan;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
  color: #000;
  user-select: none;
}

.box-options {
  color: cyan;
}

.btn.btn-secondary.fw-bold.mb-3:hover {
  background-color: cyan;
  color: black;
}

.img_display .update {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #00000099;
  color: white;
  font-size: 15px !important;
  font-weight: bold;
  padding: 6px 15px;
  border-radius: 10px;
  letter-spacing: 0.5px;
}

.update:hover {
  background: #000000cc;
  transform: scale(1.02);
  cursor: pointer;
}

.img_display .carousel-caption {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 0%;
  left: 75%;
}

.play button {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffffcc;
  color: #000000;
  border: none;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.play button:hover {
  background-color: cyan;
}

.info button {
  font-size: 20px;
  font-weight: 600;
  background-color: #4c4c4c99;
  color: #ffffff;
  border: none;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;

}

.info button:hover {
  background-color: #00000099;
}

.movie-card {
  max-width: 300px;
  width: 100%;
  height: 160px;
  max-height: 160px;
  border-radius: 4px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-color: black;
  overflow: hidden;
}

.trending-container {
  margin-right: 30px;
}

.trending-card {
  height: 200px;
  width: 100%;
  border-radius: 8px;
  /* keeps badge inside if rounded corners */
}

.trending-img {
  position: absolute;
  top: 23px;
  left: 86px;
  width: 300px;
  height: 153px;
  object-fit: cover;
  border-radius: 2px;
}

.trending-img:hover {
  transform: scale(1.01);
}

.card-id {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 205px;
  /* large number */
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 5px #6b6b6b;
  /* border color and thickness */
  pointer-events: none;
  line-height: 1;
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: brightness(70%) blur(2px);
  /* make sure it's above everything */
}


.card-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 86%;
  height: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  z-index: 9999;
}

.card-dialog .img-fluid {
  width: 100%;
  height: 250px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}

.card-dialog h3 {
  color: #ddd;
  margin: 20px 20px 15px 20px;
  font-weight: 600;
  text-align: left !important;
  font-size: 26px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.card-dialog .dialog-btn {
  border-radius: 12px;
  height: 50px;
  border: none;
  width: 91%;
  background-color: #555;
  color: whitesmoke;
  margin: 0 20px 20px 20px;
  font-weight: bold;
}

.card-dialog .dialog-btn:hover {
  background-color: cyan;
  color: black;
}


.card-dialog p {
  line-height: 1.7;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
}

.preview-icon,
.save-icon,
.remove-icon {
  background-color: #555;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.preview-icon:hover,
.save-icon:hover,
.remove-icon:hover {
  background-color: cyan;
  color: black;
}

.card-dialog ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 6px #ffffff40;
  list-style: none;
  padding: 0;
}

.card-dialog ul li:last-child {
  background-color: #333;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 8px;
  display: flex;
  text-align: center;
  align-items: center;
}

.carousel-inner,
.carousel-item,
.mid_section {
  background-color: black !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0 !important;
  margin-left: 10px;
}



.movie-card:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
}

.movie-card-img-top {
  max-width: 300px;
  height: 100%;
  width: 100%;
  background-color: black;
  object-fit: cover;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
}

p {
  line-height: 1;
}

.genre {
  color: #eee;
  background-color: #000;
  border: 1px solid #f8f9fa;
  margin-bottom: 16px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

h1 {
  color: #eee;
  padding-left: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.section-title {
  color: #ddd;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 26px !important;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
  top: 10px;
  width: 5%;
}

.carousel-control-prev {
  left: 0px;
}

.carousel-control-next {
  right: 0px;
}

/* Buttons */
.scroll-btn {
  border: none;
  height: 147px;
  width: 43px;
  font-size: 50px;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  color: #bbb;
}

.scroll-btn.left {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.scroll-btn.right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.scroll-btn:hover {
  color: cyan;
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-btn:focus {
  outline: none;
}

.trending-scroll-btn {
  border: none;
  height: 160px;
  width: 43px;
  font-size: 50px;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  color: #bbb;
}

.trending-scroll-btn.left {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.trending-scroll-btn.right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.trending-scroll-btn:hover {
  color: cyan;
  background-color: rgba(0, 0, 0, 0.5);
}

.trending-scroll-btn:focus {
  outline: none;
}

.empty-list-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 20px;
  text-align: center;
}



.empty-list-message p {
  font-size: 18px;
  color: #777;
  margin-bottom: 8px;
}

.explore-btn {
  background-color: #ccc;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 50px auto;
  ;
}

.explore-btn:hover {
  background-color: cyan;
}


footer {
  background-color: #141414 !important;
  margin-top: 200px;
}

.footer-top {
  font-size: medium;
}

.footer-bottom {
  font-size: 15px;
}

footer a {
  color: #ccc;
  transition: color 0.3s ease;

}

footer .text-center.mb-4 {
  border-bottom: 1px solid #aaaaaa40;
}

.store-buttons img:hover {
  transform: scale(1.05);
}

.fa-search,
.fa-bell,
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube,
.fa-google {
  color: #ddd;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-google:hover {
  color: cyan;
}

.fa-user {
  color: cyan;
}

/* Light Mode Styles */

body.light-mode {
  background-color: #eee;
  color: #333;
}

/* Navbar Links */
/* Light Mode Navbar */

.light-mode .logo {
  filter: invert(51%) sepia(85%) saturate(4300%) hue-rotate(152deg) brightness(130%) contrast(80%);
}

.light-mode .navbar-toggler-icon {
  filter: invert(1);
}

.light-mode .navbar.fixed-top {
  background-color: #f5f5f5ee !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.light-mode .navbar.fixed-top i,
.light-mode .btn i {
  color: black;
}

.light-mode .navbar-dark {
  background-color: #eee !important;
}

.light-mode .nav-link {
  color: #000000 !important;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.light-mode .nav-link.active {
  border-bottom: 2px solid rgb(21, 189, 189);
}

.light-mode .d-flex.align-items-center.position-relative input {
  background-color: white;
  color: black;
}

.light-mode .btn i:hover {
  color: rgb(21, 189, 189);
  transition: color 0.3s ease;
}

.light-mode .play button:hover {
  background-color: rgb(21, 189, 189);
  color: white;
}

.light-mode .fa-search,
.light-mode .fa-bell,
.light-mode .fa-facebook,
.light-mode .fa-instagram,
.light-mode .fa-twitter,
.light-mode .fa-youtube,
.light-mode .fa-google {
  color: #333;
}

.light-mode .fa-user {
  color: rgb(21, 189, 189);
}

.light-mode .fa-facebook:hover,
.light-mode .fa-instagram:hover,
.light-mode .fa-twitter:hover,
.light-mode .fa-youtube:hover,
.light-mode .fa-google:hover {
  color: rgb(21, 189, 189);
}

.light-mode .genre {
  color: #333;
  background-color: #ffffff;
  border: 1px solid #aaa;
}


.light-mode .dropdown-menu a {
  background-color: #eee;
  color: #333;
}

.light-mode .dropdown-menu a:hover {
  background-color: rgb(21, 189, 189);
  color: #333 !important;
}

.light-mode .dropdown-menu a:hover {
  background-color: rgb(21, 189, 189);
  color: #fff !important;
}

.light-mode .dropdown-toggle::after {
  filter: invert(0);
}

/* Modal Content */
.light-mode .modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.light-mode .d-flex.align-items-center.text-light.my-4 span,
.light-mode .text-center span {
  color: #333;
}

.light-mode .btn-close {
  filter: invert(0);
}

/*card modsl*/

.light-mode .card-dialog {
  background-color: rgba(255, 255, 255, 0.9);
  /* box-shadow: 0 0 10px rgb(0, 0, 0); */

}

.light-mode .card-dialog h3 {
  color: #333;
  text-shadow: 0 0 2px #3333334d;
}

.light-mode .card-dialog .dialog-btn {
  background-color: #777;
}

.light-mode .card-dialog .dialog-btn:hover {
  background-color: rgb(21, 189, 189);
  color: white;
}

.light-mode .card-dialog p {
  color: #444;
}

.light-mode .preview-icon,
.light-mode .save-icon,
.light-mode .remove-icon {
  background-color: #777;
  color: white;
}

.light-mode .preview-icon:hover,
.light-mode .save-icon:hover,
.light-mode .remove-icon:hover {
  background-color: rgb(21, 189, 189);
  color: white;
}

.light-mode .card-dialog ul {
  color: black;
  text-shadow: 0 0 2px #00000010;
}

.light-mode .card-dialog ul li:last-child {
  background-color: #bbb;
  border-radius: 6px;
  padding: 0 8px;
}

.light-mode .confirm-box {
  background: #eee;
  color: #141414;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.light-mode .yes-btn {
  background-color: rgb(21, 189, 189);
  color: white;
  border: none;
}

.light-mode .no-btn {
  background-color: rgb(102, 102, 102);
  color: white;
  border: none;
}

.light-mode .yes-btn:hover {
  background-color: rgb(21, 174, 174);
}

.light-mode .no-btn:hover {
  background-color: rgb(122, 122, 122);
}

/* Layout Sections */
.light-mode .carousel-inner,
.light-mode .carousel-item,
.light-mode .mid_section,
.light-mode .row {
  background-color: #eee !important;
}

/* Movie Cards */
.light-mode .movie-card {
  background-color: transparent;
}

.light-mode .movie-card-img-top {
  background-color: transparent;
  object-fit: cover;
}

.light-mode .movie-card.aos-animate {
  background-color: #f8f8f8;
}

.light-mode .scroll-btn {
  color: #333;
}

.light-mode .scroll-btn:hover {
  background-color: rgba(245, 245, 245, 0.253);
  color: rgb(21, 189, 189);
}

.light-mode .trending-scroll-btn {
  color: #333;
}

.light-mode .trending-scroll-btn:hover {
  color: rgb(21, 189, 189);
  background-color: rgba(245, 245, 245, 0.253);
}

/* Inputs / Selects */
.light-mode .form-control,
.light-mode .genre-select {
  background-color: #ffffff;
  color: #333;
  border-color: #ccc;
}

.light-mode .form-control:focus,
.light-mode .genre-select:focus {
  border-color: rgb(21, 189, 189);
  box-shadow: none;
}

.light-mode .btn.btn-secondary.fw-bold.mb-3:hover {
  background-color: rgb(21, 189, 189);
  color: white;
}

.light-mode .modal-title {
  color: rgb(21, 189, 189)
}

.light-mode .box-options {
  color: rgb(21, 189, 189);
}

.light-mode .explore-btn:hover {
  background-color: rgb(21, 189, 189);
  color: white;
}

/* Headings */
.light-mode h1,
.light-mode .section-title,
.light-mode h3 {
  color: #333;
  text-shadow: 0 0 4px #3333331a;
}

.light-mode .form-check label {
  color: #000;
}

/* Footer */
.light-mode footer {
  background-color: #ddd !important;
}

.light-mode .footer-top {
  background-color: #ddd !important;
}

.light-mode footer a {
  color: #333 !important;
}

/* Horizontal Rule */
.light-mode footer .text-center.mb-4 {
  border-bottom: 1px solid #24242440;
}

/* Updates / Badges */
.light-mode .update {
  background: #ffffffcc;
  color: #333;
}

.light-mode .update:hover {
  background: #ffffff99;
}

@media (max-width: 500px) {

  .navbar-toggler-icon {
    margin-top: 25px;
  }

  .movie-card {
    height: 110px;

  }

  .movie-card-img-top {
    height: 110px;
    width: 100%;
  }

  .trending-container {
    margin-right: 5px;
  }

  .trending-img {
    top: 24px;
    left: 80px;
    width: 300px;
    height: 150px;
  }

  .card-id {
    top: 2px;
    left: 8px;
    font-size: 200px;
    /* large number */
    font-weight: bold;
    color: transparent;
    /* border color and thickness */
    pointer-events: none;
    line-height: 1;
  }



  .img_display .carousel-caption {
    left: 55%;
  }

  .play-icon {
    font-size: 16px;
  }

  .info-icon {
    font-size: 16px;
  }

  .play button {
    font-size: 14px;
    width: 80px;
    padding: 8px 5px;
  }


  .info button {
    font-size: 14px;
    width: 80px;
    padding: 8px 5px;
  }

  .img_display .update {
    font-size: 12px !important;
    padding: 6px 12px;
    top: 12px;
    left: 12px;
  }

  .carousel-control-prev {
    bottom: 30px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 30px;
    right: 5px;
  }

  .scroll-btn {
    height: 120px;
    width: 20px;
    font-size: 30px;
    margin-top: 20px;
  }

  .scroll-btn.left {
    top: 40%;
  }

  .scroll-btn.right {
    top: 40%;
  }

  .genre-select {
    margin-top: 20px;
    padding: 5px 6px;
  }

  h1 {
    padding-left: 10px;
  }

  .section-title {
    padding-left: 10px;
    margin-top: 35px;
    font-size: 24px !important;
  }

  .trending-section-title {
    padding-left: 10px;
    margin-top: 35px;
    font-size: 24px !important;
  }

  .card-dialog {
    width: 75%;
  }


  .card-dialog .img-fluid {
    max-height: 170px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
  }

  .card-dialog h3 {
    margin: 20px 20px 10px 20px;
    font-size: 20px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }

  .card-dialog .dialog-btn {
    border-radius: 12px;
    height: 40px;
    border: none;
    width: 86%;
    margin: 0 20px 15px 20px;
    font-weight: bold;
  }

  .card-dialog ul {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .card-dialog ul li:last-child {
    background-color: #333;
    border-radius: 6px;
    font-size: 12px;
    padding: 2px 8px;
  }

  .card-dialog p {
    font-size: 12px;
  }

  .confirm-box {
    padding: 30px 20px;
    width: 90%;
  }

  .confirm-box p {
    font-size: 16px;
  }

  .footer-top {
    background-color: #141414 !important;
    font-size: small;
  }

  .footer-bottom {
    font-size: smaller;
  }


}

@media (min-width:501px) and (max-width: 568px) {

  .navbar-toggler-icon {
    margin-top: 25px;
  }

  .movie-card {
    max-width: 300px;
    height: 150px;
  }

  .movie-card-img-top {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }

  .trending-img {
    width: 300px;
    height: 150px;
  }

  .img_display .carousel-caption {
    left: 58%;
  }

  .play-icon {
    font-size: 16px;
  }

  .info-icon {
    font-size: 16px;
  }

  .play button {
    font-size: 16px;
    width: 90px;
    padding: 9px 6px;
  }

  .info button {
    font-size: 16px;
    width: 90px;
    padding: 9px 6px;
  }

  .img_display .update {
    font-size: 14px !important;
    padding: 6px 12px;
    top: 12px;
    left: 12px;
  }

  .carousel-control-prev {
    bottom: 35px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 35px;
    right: 5px;
  }

  .scroll-btn {
    height: 150px;
    width: 30px;
    font-size: 35px;
    margin-top: 20px;
  }

  .scroll-btn.left {
    top: 42%;
  }

  .scroll-btn.right {
    top: 42%;
  }

  .genre-select {
    margin-top: 21px;
    padding: 5px 7px;
  }

  h1 {
    padding-left: 12px;
  }

  .section-title {
    padding-left: 12px;
  }
}

@media (min-width: 569px) and (max-width: 767px) {

  .movie-card {
    max-width: 350px;
    height: 340px;
  }

  .movie-card-img-top {
    max-width: 350px;
    width: 100%;
    height: 100%;
  }

  .img_display .carousel-caption {
    left: 58%;
  }

  .play-icon {
    font-size: 16px;
  }

  .info-icon {
    font-size: 16px;
  }

  .play button {
    font-size: 16px;
    width: 95px;
    padding: 9px 7px;
  }

  .info button {
    font-size: 16px;
    width: 95px;
    padding: 9px 7px;
  }

  .img_display .update {
    font-size: 14px !important;
    padding: 6px 12px;
    top: 12px;
    left: 12px;
  }

  .carousel-control-prev {
    bottom: 40px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 40px;
    right: 5px;
  }

  .scroll-btn {
    height: 175px;
    width: 40px;
    font-size: 40px;
    margin-top: 20px;
  }

  .scroll-btn.left {
    top: 45%;
  }

  .scroll-btn.right {
    top: 45%;
  }

  .genre-select {
    margin-top: 22px;
    padding: 5px 8px;
  }

  h1 {
    padding-left: 15px;
  }

  .section-title {
    margin-top: 40px;
    padding-left: 15px;
  }

  footer {
    background-color: #141414 !important;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {

  .movie-card {
    max-width: 210px;
    height: 110px;
  }

  .movie-card-img-top {
    max-width: 210px;
    height: 110px;
  }

  .img_display .carousel-caption {
    left: 70%;
  }

  .play-icon {
    font-size: 16px;
  }

  .info-icon {
    font-size: 16px;
  }

  .play button,
  .info button {
    font-size: 14px;
    width: 100px;
    padding: 8px;
  }

  .img_display .update {
    font-size: 12px !important;
    padding: 6px 12px;
    top: 12px;
    left: 12px;
  }

  .carousel-control-prev {
    bottom: 50px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 50px;
    right: 5px;
  }

  .scroll-btn {
    height: 125px;
    width: 35px;
    font-size: 45px;
    margin-top: 20px;
  }

  .scroll-btn.left {
    top: 42%;
  }

  .scroll-btn.right {
    top: 42%;
  }

  h1 {
    font-size: 28px;
  }

  .section-title {
    font-size: 22px;
    margin-top: 45px;
  }

  footer {
    font-size: 13px;
  }
}

@media (min-width: 991px) and (max-width: 1234px) {

  .movie-card {
    max-width: 200px;
    height: 110px;
  }

  .movie-card-img-top {
    max-width: 200px;
    height: 100%;
  }

  .img_display .carousel-caption {
    left: 70%;
  }

  .play-icon {
    font-size: 16px;
  }

  .play button,
  .info button {
    font-size: 16px;
    width: 120px;
    padding: 9px;
  }

  .img_display .update {
    font-size: 14px !important;
    padding: 6px 14px;
    top: 13px;
    left: 13px;
  }

  .carousel-control-prev {
    bottom: 55px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 55px;
    right: 5px;
  }

  .scroll-btn {
    height: 150px;
    margin-top: 20px;
    width: 40px;
    font-size: 48px;
  }

  .scroll-btn.left {
    top: 43%;
  }

  .scroll-btn.right {
    top: 43%;
  }

  h1 {
    font-size: 30px;
  }
}

@media (min-width: 1235px) and (max-width: 1368px) {

  .movie-card {
    max-width: 220px;
    height: 120px;
  }

  .movie-card-img-top {
    max-width: 220px;
    height: 100%;
  }

  .play button,
  .info button {
    font-size: 18px;
    width: 130px;
    padding: 10px;
  }

  .img_display .update {
    font-size: 16px !important;
    padding: 6px 14px;
    top: 14px;
    left: 14px;
  }

  .carousel-control-prev {
    bottom: 60px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 60px;
    right: 5px;
  }

  .scroll-btn {
    height: 0px;
    width: 50px;
    font-size: 50px;
  }

  .scroll-btn:hover {
    background-color: rgb(0, 0, 0, 0.4);
  }

  .scroll-btn.left {
    top: 40%;
  }

  .scroll-btn.right {
    top: 40%;
  }

  h1 {
    font-size: 32px;
  }
}

@media (min-width: 1369px) and (max-width: 1616px) {

  .movie-card {
    max-width: 300px;
    height: 140px;
  }

  .movie-card-img-top {
    max-width: 300px;
    height: 140px;
  }

  .play button,
  .info button {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }

  .img_display .update {
    font-size: 18px;
    padding: 6px 16px;
    top: 15px;
    left: 15px;
  }

  .carousel-control-prev {
    bottom: 65px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 65px;
    right: 5px;
  }

  .scroll-btn {
    height: 170px;
    margin-top: 20px;
    width: 52px;
    font-size: 52px;
  }

  .scroll-btn.left {
    top: 45%;
  }

  .scroll-btn.right {
    top: 45%;
  }

  h1 {
    font-size: 34px;
  }
}

/* @media (min-width: 1617px) and (max-width: 1818px) {

  .movie-card {
    max-width: 350px;
    height: 160px;
  }

  .movie-card-img-top {
    max-width: 350px;
    height: 160px;
  }

  .play button,
  .info button {
    font-size: 22px;
    width: 160px;
    padding: 12px;
  }

  .img_display .update {
    font-size: 20px;
    padding: 8px 16px;
    top: 16px;
    left: 16px;
  }

  .carousel-control-prev {
    bottom: 70px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 70px;
    right: 5px;
  }

  .scroll-btn {
    height: 200px;
    margin-top: 20px;
    width: 55px;
    font-size: 55px;
  }

  .scroll-btn.left {
    top: 46%;
  }

  .scroll-btn.right {
    top: 46%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }
} */

/* @media (min-width: 1819px) and (max-width: 2148px) {
  .img_display {
    height: 1100px;
    object-position: top;
  }

  .movie-card {
    max-width: 360px;
    height: 170px;
  }

  .movie-card-img-top {
    max-width: 360px;
    height: 170px;
  }

  .play {
    top: 55%;
    left: 89%;
  }

  .info {
    top: 55%;
    left: 104%;
  }

  .play button,
  .info button {
    font-size: 24px;
    width: 180px;
    padding: 14px;
  }

  .play i {
    font-size: 30px;
  }

  .info i {
    font-size: 26px;
  }

  .img_display .update {
    font-size: 20px;
    padding: 10px 18px;
    top: 18px;
    left: 18px;
  }

  .carousel-control-prev {
    bottom: 75px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 75px;
    right: 5px;
  }

  .scroll-btn {
    height: 220px;
    width: 60px;
    font-size: 60px;
  }

  .scroll-btn.left {
    top: 47%;
  }

  .scroll-btn.right {
    top: 47%;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }
}

@media (min-width: 2149px) {
  .img_display {
    height: 1200px;
    object-position: top;
  }

  .movie-card {
    max-width: 380px;
    height: 180px;
  }

  .movie-card-img-top {
    max-width: 380px;
    height: 180px;
  }

  .play {
    top: 55%;
    left: 90%;
  }

  .info {
    top: 55%;
    left: 105%;
  }

  .play button,
  .info button {
    font-size: 26px;
    width: 200px;
    padding: 16px;
  }

  .play i {
    font-size: 32px;
  }

  .info i {
    font-size: 28px;
  }

  .img_display .update {
    font-size: 22px;
    padding: 12px 20px;
    top: 20px;
    left: 20px;
  }

  .carousel-control-prev {
    bottom: 80px;
    left: 5px;
  }

  .carousel-control-next {
    bottom: 80px;
    right: 5px;
  }

  .scroll-btn {
    height: 240px;
    width: 65px;
    font-size: 65px;
  }

  .scroll-btn.left {
    top: 48%;
  }

  .scroll-btn.right {
    top: 48%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }
} */
